@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.gooleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.banner{
	width: 100;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../images/image2.jpg);
	background-size: cover;
	background-position: center;
}
.navbar{
	width: 85;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	width: 211px;
	cursor: pointer;
	padding-left: 100px;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a{
	text-decoration: none;   
	color: white;
	text-transform: uppercase;  
}
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0%;
	background: #009688;
	position: absolute;
	left: 0; 
	bottom: -10px;
	transition: 0.5s;
}
.navbar ul li:hover:after{
	width: 100%;
}
.content-hero{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%); 
	text-align: center; 
	color: white;
}
.content h1{
	font-size: 70px;
	margin-top: 80px;
} 
.content p{
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
}  
 button{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #009688;
	background: transparent;
	color: white;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

span{
	background: #009688;
	height: 100%;
	width: 0%;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;	
}
button:hover span{
	width: 100%;
}
button:hover{
	border: none;
}



.section{
	width: 100%;
	min-height: 100vh;
	background-color: #ddd;
}
.container{
	width: 80%;
	display: block;
	margin: auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{  
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding: 12px 40px;
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	letter-spacing: 1.5px;
 } 
 .content-section .content .button a:hover{
 	background-color: #a52a2a;
 	color: #fff;
 }
 .content-section .social{
 	margin:40px 40px;
 }
 .content-section .social i{
 	color: #a52a2a;
 	font-size: 30px;
 	padding:0px 10px
 }
 .content-section .social i:hover{
 	color: #3d3d3d;
 }
 @media screen and (max-width: 768px){
 	.container{
	width: 80%;
	display: block;
	margin: auto;
	padding-top: 50px;
}
.content-section{
	float: none; 
	width: 100%;
	display: block;
	margin: auto;
}
.image-section{
	float: none;
	width: 100%;

}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
 }
 .content-section .content .button{
 	text-align: center;
 }
 .content-section .content .button a{
 	padding:9px 30px;
 }
 .content-section .social{
 	text-align: center;
 }
}
body{
	background: #007bff !important;
}

h1{
	text-align: center;
	margin-top:  127px  !important; 
	margin-bottom: 50px;
	color: #fff;
}
.main{
	width: 100%;
	min-height: 380px;
	text-align: center;
	position: relative;
	cursor: pointer;
}
.service{
	background: #fff;
	padding: 30px;
	border-radius: 10px;
	position: absolute;
	bottom: 0;
	z-index: 1;
	box-shadow: 0 0 20px -15px #030380;
	transition: transform .8s;  
}
.service-logo{
	width: 130px; 
	height: 130px;
	border-radius: 50%; 
	margin: -90px auto 0;
	background: #fff;
	border: 18px solid #007bff;
}
.service-logo img{ 
	width: 50px;
	margin-top: 20px;
	transition: transform 1s;
}
.service h4{
	height: 35px;
	width: 80%;
	background: #fff;
	margin: 50px auto;
	position: relative;
}
.service h4::after{
	content: '';
	width: 40px;
	height: 30px;
	background: linear-gradient(to right, #fff,#007bff);
	position: absolute;
	right: -5px;
	top: -5px;
	z-index: -1;
}
.service h4::before{
	content: '';
	width: 40px;
	height: 30px;
	background: linear-gradient(to right, #007bff, #fff);
	position: absolute;
	left: -5px;
	bottom: -5px;
	z-index: -1;
}
.shadowOne{
	height: 200px;
	width: 80%;
	background: #fff;
	position: absolute;
	border-radius: 10px;
	bottom: 0;
	left: 10%;
	z-index: -1;
	box-shadow: 0 0 20px -15px #030380;
	transition: transform .8s; 
}
.shadowTwo{
	height: 200px;
	width: 64%;
	background: #fff;
	position: absolute;
	border-radius: 10px;
	bottom: 0;
	left: 18%;
	z-index: -2;   
} 
.main:hover .service{
	transform: translateY(-50px);
}
.main:hover .shadowOne{
	transform: translateY(-25px);
}
.main:hover img{
	transform: rotate(360deg);
}



h1{
	text-align: center;
	margin: 50px auto !important;
	color: white;
}
#testimonial{
	padding-bottom: 127px;
	display: grid;
	height: 100%;
	place-items:center;
	background: #17a2b8;
}
::selection{
	background: rgba(23,164.184,0.3);
}
.wrapper{
	max-width: 1200px;
	padding: 0 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.wrapper .box{
	background: #fff;
	border-radius: 3px;
	padding: 25px;
	width: calc(33% - 10px);
}
.wrapper .box .quote{
	font-size: 20px;
	color: #17a2b8;
	
}
.wrapper .box .content{ 
	padding-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}	
.wrapper .box .info .name{
	font-size: 17px;
	font-weight: 600;
}
.wrapper .box .info .job{
	color: #17a2b8;
	font-size: 16px;
	font-weight: 500;
}
.wrapper .box .info .stars{
	margin-top: 2px;
}
.box .info .stars i{
	color: #17a2b8;
	
}
.wrapper .box .content .image{
	height: 75px;
	width: 75px;
	padding:3px;
	background: #17a2b8;
	border-radius: 50%;
}
.box .content .image img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid #fff;
}
@media (max-width: 1045px){
	.wrapper .box{
		width: calc(50% - 10px);
		margin: 10px 0;
	}
}
@media (max-width: 702px){
	.wrapper .box{
		width: 100%;
	}

	
}


h2{
	text-align: center;
	margin: 127px auto !important;
	color: white;
}
footer
{
	position: relative;
	width: 100%;
	background: #3586ff;
	min-height: 100px;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
footer .social_icon,
footer .menu
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li
{
	list-style: none;
}
footer .social_icon li a
{
	font-size: 2em;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
}
footer .social_icon li a:hover
{
transform: translateY(-10px);
}
footer .menu li a
{
	font-size: 1.2em;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	text-decoration: none;
	opacity: 0.75;
}
footer .menu li a:hover
{
	opacity: 1;
}
footer p
{
	color: #fff;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 1.1em;
}
footer .wave
{
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100px;
	background:  url("../images/wave.png");
	background-size: 1000px 100px;
}
footer .wave#wave1
{
	z-index: 1000;
	opacity: 1;
	bottom: 0;
	animation: animatewave 4s linear infinite;
}
footer .wave#wave2
{
	z-index: 999;
	opacity: 0.5;
	bottom: 10px;
	animation: animatewave_02 4s linear infinite;
}
footer .wave#wave3
{
	z-index: 1000;
	opacity: 0.2;
	bottom: 0;
	animation: animatewave 3s linear infinite;
}
footer .wave#wave4
{
	z-index: 999;
	opacity: 0.7;
	bottom: 20px;
	animation: animatewave_02 3s linear infinite;
}
@keyframes animatewave
{
	0%
	{
		background-position-x: 1000px;
	}
	100%
	{
		background-position-x: 0px;
	}
@keyframes animatewave_02
{
	0%
	{
		background-position-x: 1000px;
	}
	100%
	{
		background-position-x: 0px;
	}	
}
	



	

